on post-fs
	mount none /system/etc/usb_audio_policy_configuration.xml /vendor/etc/usb_audio_policy_configuration.xml bind
	export LD_PRELOAD :

on init
    mount none /system/usr/keylayout/fingerprint.kl /vendor/usr/keylayout/fingerprint.kl bind
    mount none /system/bin/adbd /sbin/adbd bind

service hi6250_post_boot /system/bin/init.kirin970.post_boot.sh
    oneshot
    disabled

# QC
on property:sys.boot_completed=1
   write /sys/class/hw_power/charger/direct_charger/iin_thermal 4500
   write /sys/class/hw_power/charger/charge_data/iin_thermal 2000

on property:sys.boot_completed=1
    start hi6250_post_boot
    chown wifi system /data/misc/wifi
    chown system wifi /data/misc/wifi/hostapd.conf
